.top-content {
  margin: 0;
  padding: 0;
  border-bottom: .02rem solid $mc;
  > .swiper-container {
    padding: 0;
    > .swiper-wrapper {
      padding: 0;
      > .swiper-slide {
        list-style: none;
        padding: 0;
        height: 1.55rem;
        background: transparent center no-repeat;
        background-size: cover;
        > .mask {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: .37rem;
          > .cover {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .6);
          }
          > p {
            @include ellp;
            padding: 0 .1rem;
            position: absolute;
            width: 93%;
            text-align: center;
            bottom: 0;
            margin: 0;
            font-size: .14rem;
            line-height: .37rem;
            color: #fff;
          }
        }
      }
    }
  }
  > li {
    list-style: none;
    font-size: .14rem;
    line-height: .4rem;
    height: .4rem;
    padding: 0 .08rem;
    > a {
      @include ellp;
      border-top: 1px solid #eee;
      line-height: .4rem;
      padding: 0 .07rem;
      width: 96%;
      text-decoration: none;
      color: #666;
    }
  }
}